<% data.each do |button| %>
  <a
    class="btn <%= "btn-#{button['size']} btn-#{button['type']}" %> ga-click-event"
    href="<%= button['href'] %>"
    role="button"
    ga-label="<%= button['ga_label'] %>"
    ga-category="<%= button['ga_category'] %>"
  >
    <%= button['text'] %>
  </a>
<% end %>
